@model List<MvcApplication.Models.Entities.EncyclopediaDetails.TankViewModel>

@*@{
  ViewBag.Title = "title";
  Layout = "~/Views/Home/About.cshtml";
}*@

<h2>title</h2>

@{
    var groupByNation = Model.GroupBy(x => x.LocalizedNation);

    foreach (var byNation in groupByNation)
    {
    <h3>@byNation.Key (@byNation.Count())</h3>

        var grouppedByTier = byNation.OrderBy(x => x.Tier).GroupBy(x => x.Tier);
    
    <table class="tanksTable">
        @foreach (var byTier in grouppedByTier)
        {
            <tr>
                <th>@byTier.Key</th>
                @foreach (var tank in byTier)
                {
                    <td>@tank.LocalizedName</td>
                }
            </tr>
        }
    </table>
    }
}

@*@RenderBody()*@